body {
    background-color: #f3f3f3;
    font-family: 'Roboto';
}

.fixed-bar {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed-bar.top {
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.fixed-bar.bottom {
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.logo-img {
    margin-left: 22px;
    width: 75px;
    height: 53px;
}

.users-icon {
    margin-right: 22px;
    color: #000;
    width: 42px;
    height: 31px;
    cursor: pointer;
}

.fixed-bar input {
    width: 80%;
    border: none;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.fixed-bar input::placeholder {
    font-style: italic;
    color: black;
    opacity: 1;
}

.send-icon {
    margin-right: 18px;
    font-size: 26px;
    color: #000;
    cursor: pointer;
}

.write-box {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}

.writing-to-how {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
}

/* Chat */
.chat {
    margin-top: 106px;
    width: 100%;
    height: calc(100vh - 106px - 80px);
    overflow-y: scroll;
}

.msg {
    padding: 13px 8px;
    font-size: 14px;
    background-color: #fff;
    color: black;
    margin-bottom: 4px;
    word-break: break-word;
}

.msg.status {
    background-color: #e5e5e5;
}

.msg.private {
    background-color: #ffdede;
}

.gray {
    color: #aaa;
}

/* Menu */
.menu {
    padding: 0px 27px 0px 20px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 259px;
    height: 100vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: black;
}

.hidden {
    display: none;
}

.empty {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: calc(100vw - 259px);
    height: 100vh;
    z-index: 5;
}

.menu-users {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.users {
    overflow-y: scroll;
    word-break: break-all;
}

.menu-visibility {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu button, button div {
    display: flex;
    align-items: center;
    min-height: 36px;
    cursor: pointer;
}

.menu button {
    width: 100%;
    justify-content: space-between;
}

.menu button span {
    margin-left: 8px;
}

.menu-icons {
    flex-shrink: 0;
    font-size: 20px;
    color: black;
}

.check-icon {
    display: none;
    flex-shrink: 0;
    color:#28BB25;
    font-size: 14px;
}

.check-icon.selected {
    display: initial;
}